<form id='new-book-form' method="post" action="/books">
  <input type="text" id='title' placeholder="title" name="book[title]" />
  <input type="number" id='pages' placeholder="number of pages" name="book[pages]" />
  <input type="text" id='authors' placeholder="author(s), separated by commas" name="book[authors]" />
  <input type="number" id='year' placeholder="publication year" name="book[year]" />
  <input type="submit" id='submit' value="Submit" />
</form>
